<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gemini</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gemini</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-textarea
    [ngModel]="prompt()"
    (ngModelChange)="updatePromptValue($event)"
    placeholder="Escribe tu prompt aquí"
  ></ion-textarea>
  <ion-button (click)="sendToGemini()" [disabled]="loading()" mode="ios">
    <ion-spinner *ngIf="loading()" name="lines"></ion-spinner>
    Enviar
  </ion-button>
  <ion-textarea [ngModel]="result()" readonly autoGrow="true"></ion-textarea>
</ion-content>
